* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.box {
  /* 用绝对定位设置盒子水平垂直居中，注意负号 */
  position: absolute;
  left:50%;
  top:50%;
  margin-left: -250px;
  margin-top: -200px;
  width: 480px;
  height: 360px;
  background-color: #fff;
  cursor:default;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 3px rgba(0, 0, 0, .3);
}
.top {
  width: 100%;
  height: 80px;
  background-color: #4F4F4F;
}
.top h2 {
  /* 水平且垂直居中 */
  line-height: 80px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.main {
  /* 处理外边距塌陷 */
  overflow: hidden;
  width: 100%;
  height: 220px;
}
.main input {
  /* 转为块元素，盒子模型 */
  display: block;
  margin: 20px auto;
  padding: 0 1em;
  border: 1px solid #dad9d6;
  width: 350px;
  height: 50px;
}
.main .btn {
  font-size: 18px;
  color: #fff;
  background-color: #1E9FFF;
}
.main .btn:hover{
  background-color: #048cf1;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: auto;
}
.footer a {
  position: absolute;
  right:10px;
  padding: 10px 0;
  color: #9b9c98;
}
.footer p{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
.footer a:hover {
  color:black;
}