* {
  padding: 0;
  margin: 0;
}

body {
  background-color: dimgray;
}

.main {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  width: 350px;
  height: 300px;
  background: #FFFFFF;
  /*以下css用于让登录表单垂直居中在界面,可删除*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -175px;
}

.title {
  width: 100%;
  height: 80px;
  line-height: 40px;
}

.title span {
  font-size: 18px;
  color: #353f42;
}

.title:hover {
  cursor: default;
}

.header {
  background: #414141;
  color: white;
  text-align: center;
  margin: -15px -25px 15px -25px;
  padding: 10px;
  text-transform: uppercase;
}

/* .title-msg {
width: 100%;
height: 64px;
line-height: 64px;
}

.title-msg:hover{
cursor: default	;
}

.title-msg span {
font-size: 12px;
color: #707472;
} */

.input-content {
  width: 100%;
  height: 120px;
}

.input-content input {
  width: 330px;
  height: 40px;
  border: 1px solid #dad9d6;
  background: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.enter-btn {
  width: 350px;
  height: 40px;
  color: #fff;
  background: #0bc5de;
  line-height: 40px;
  text-align: center;
  border: 0px;
}

.foot {
  width: 100%;
  height: 20px;
  color: #9b9c98;
  font-size: 12px;
  margin-top: 20px;
}

.enter-btn:hover {
  cursor: pointer;
  background: #1db5c9;
}

.foot div:hover {
  cursor: pointer;
  color: #484847;
  font-weight: 600;
}

/* .left{
float: left;
} */
.right {
  float: right;
}

.foot-msg {
  width: 100%;
  height: auto;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.foot-msg:hover {
  cursor: default;
}