.layui-tab-title .welcome .layui-tab-close{
    display: none;
}

.iframe{
display: block; /* iframes are inline by default */
background: #000;
border: none; /* Reset default border */
height: 100vh; /* Viewport-relative units */
width: 100%;
}